<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .title,
        .content,
        .comment,
        .footer {
            width: 690px;
            background-color: #eee;
            border: 1px dashed #ccc;
            margin: 0 auto;
        }
        .title {
            height: 48px;
        }
    </style>
</head>
<body>
<div class="title">
    <p>title</p>
    <p>title</p>
    <p>title</p>
    <p>title</p>
    <p>title</p>
    <p>title</p>
    <p>title</p>
    <p>title</p>
    <p>title</p>
    <p>title</p>
    <p>title</p>
    <p>title</p>
    <p>title</p>
    <p>title</p>
    <p>title</p>
    <p>title</p>
    <p>title</p>
    <p>title</p>
    <p>title</p>
    <p>title</p>
    <p>title</p>
</div>
<div class="content">content</div>
<div class="comment">comment</div>
<div class="footer">footer</div>

</body>
</html>