<!DOCTYPE html>
<html lang="zh-CN">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- 网站标签图标 -->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{% static "Bootstrap-4.1.1/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block css %}
    {% endblock %}
    {% block js_head %}{% endblock %}
  <style>
      body {
          background-color: #F6F6F6;
      }
      #copyright {
          height: 100px;
          margin: 10px auto;
          text-align: center;
          font-size: 22px;
      }
      nav {
          box-shadow: 0 1px 3px rgba(26,26,26,.1);
          border-bottom: 1px solid #f1f1f1;
      }
  </style>

  </head>
  <body>
    {% block body%}

    {# 导航栏 #}
    <nav class="navbar navbar-expand-lg navbar-light bg-light px-5">
        <a class="navbar-brand" href="{% url 'article:index' %}">
            <h2>
                <span style="color: skyblue;">We</span>Blog
            </h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
{#                <li class="nav-item active">#}
{#                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="#">Link</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link disabled" href="#">Disabled</a>#}
{#                </li>#}
            </ul>

            <div class="btn-group btn-group-lg">
                {% if user.is_authenticated %}
                    <button type="button" class="btn dropdown-toggle btn-lg btn-outline-dark" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        {{ user.username }}
                    </button>
                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 48px, 0px);">
                        <a class="dropdown-item" href="{% url 'article:editor' %}">开始创作</a>
                        <a class="dropdown-item" href="{% url 'user:article' %}">我的文章</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'user:logout' %}">注销</a>
                    </div>
                {% else %}
                    <a href="{% url 'user:login' %}" class="btn btn-lg btn-outline-dark">登录</a>
                {% endif %}
            </div>

        </div>
    </nav>


    {% block content %}{% endblock %}

    {% endblock %}

    <div id="copyright">
        copyright XXXXXXXXXXXXXXXXX
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'Bootstrap-4.1.1/js/jQuery v3.3.1.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'Bootstrap-4.1.1/js/bootstrap.js' %}"></script>
  </body>
</html>