{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}WeBlog-文章{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <div class="App-main">
        <div class="Container">
            <div class="Left">
                <!--标签栏START-->
                <div class="Tabs">
                    <ul class="nav nav-tabs float-left">
                        <li class="nav-item">
                            <a href="{% url 'article:index'%}" class="nav-link {{ active_new }}">最新发布</a>
                        </li>
                        {% for label in labels %}
                        <li class="nav-item">
                            <a href="{% url 'article:index_label' label.id %}" class="nav-link {% if label.id == article_label %}
                                active
                            {% endif %}">{{ label.label }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!--标签栏END-->
                <!--卡片栏START-->
                {% for new in news %}
                <div class="Card">
                    <div class="Title">
                        <a href="{% url 'article:details' new.id %}" target="_blank">
                            {{ new.title }}
                        </a>
                    </div>
                    <div class="Msg">
                        <span class="badge badge-pill badge-dark" style="margin-right: 10px;">{{ new.label }}</span>
                        <a href="{% url 'user:article_auther' new.auther_id  %}" style="text-decoration:none;color: #008b8b;margin-right: 10px;">{{ new.auther }}</a>
                        <span style="margin-right: 10px;">{{ new.create_time }}</span>
                    </div>
                    <div class="Content"></div>
                </div>
                {% endfor %}
                <!--卡片栏END-->
            </div>

            <div class="Right">
                <div class="Group"></div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 30px;">  <!-- 弹性布局 -->
        <div class="row px-5">
            <div class="col px-5" style="max-width: 800px;">
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a href="{% url 'article:index'%}" class="nav-link {{ active_new }}" style="color: #333;">最新发布</a>
                  </li>
                  {% for label in labels %}
                  <li class="nav-item">
                    <a href="{% url 'article:index_label' label.id %}" style="color: #333;" class="nav-link {% if label.id == article_label %}
                    active
                    {% endif %}">{{ label.label }}</a>
                  </li>
                  {% endfor %}
                </ul>
                <ul class="list-unstyled">
                    {% for new in news %}
                      <li class="media border-top border-secondary py-3">
{#                        <img class="align-self-center mr-3 rounded-circle" src="http://n.sinaimg.cn/translate/20170726/Zjd3-fyiiahz2863063.jpg" style="max-width: 64px; max-height: 64px;" alt="图片">#}
                        <div class="col-10 media-body" style="padding-left: 0;">
                              <h3 class="mt-0 mb-1">
                                   <a href="{% url 'article:details' new.id %}" style="color: #333;">{{ new.title }}</a>
                              </h3>
                              <div class="panel-footer">
                                  <span class="badge badge-pill badge-dark" style="margin-right: 10px;">{{ new.label }}</span>
                                  <a href="{% url 'user:article_auther' new.auther_id  %}" style="text-decoration:none;color: #008b8b;margin-right: 10px;">{{ new.auther }}</a>
                                  <span style="margin-right: 10px;">{{ new.create_time }}</span>
                              </div>
                        </div>
                      </li>
                    {% endfor %}
                </ul>
                    <div class="panel panel-primary container " {# style="width: 800px;" #}>
            </div>
        </div>

    </div>
{% endblock %}